.container{
    border: 1px solid black;
    width: 300px;
    border-radius: 5px;
}
.sign_in{
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 5px black;
}
.col{
    font-family: sans-serif;
}
.col input[type="text"]{
    background :none;
		outline:none;
        border:1px solid black;
        border-radius: 5px;
		padding:5px;
		width:100%;
        color:black;
        margin-top: 5px;
}
.col input[type="password"]{
    background :none;
		outline:none;
        border:1px solid black;
        border-radius: 5px;
		padding:5px;
		width:100%;
        color:black;
        margin-top: 5px;
}
.col input[type="submit"]{
    background :rgb(25, 88, 204);
		outline:none;
        border:1px solid black;
        border-radius: 5px;
		padding:5px;
		width:100%;
        color: white;
        margin-top: 5px;
}
.col input[type="text"]:focus{
    border: 2px solid rgb(25, 88, 204);
}
.col input[type="password"]:focus{
    border: 2px solid rgb(25, 88, 204);
}
.link{
    background :none;
    padding:5px;
    width:100%;
    color:white;
}
.link a{
    text-decoration: none;
}
.link2{
    right: 0;
    position: absolute;
}
